<ly-grid
  justify="center"
  container
  spacing="16 8@XSmall"
>
  <div class="pl-input-container">
    <ly-grid item col="8 12@XSmall">
      <div>
        <h2 lyTyp="title" gutterBottom color="primary" class="pl-input-title">Please Enter Food Image Url</h2>
        <ly-field fullWidth appearance="outlined">
          <ly-label>URL</ly-label>
          <input
            lyNativeControl
            #inputBox
            placeholder="Image Url"
            type="url"
            (keypress)="onKeyPress($event)">
          <button
            ly-button
            *ngIf="inputBox.value"
            appearance="icon"
            lySuffix
            (click)="onSubmit(inputBox.value)"
          >
            <ly-icon>search</ly-icon>
          </button>
        </ly-field>
      </div>
    </ly-grid>
  </div>
  <ly-grid item col="11 12@XSmall">
    <div class="pl-image-container">
      <img
        *ngIf="this.imageUrl"
        [src]="this.imageUrl"
        alt="Food Image"
        class="pl-image"
      >
    </div>
  </ly-grid>
</ly-grid>


