.sl-container {
  padding-top: 2rem;
}

.sl-title,
.sl-empty {
  text-align: center;
}

.sl-item-title {
  text-transform: capitalize;
}

.sl-btn-add {
  vertical-align: middle;
  font-size: 2.5rem;
  /* padding-left: 3rem; */
}

.sl-item {
  margin: .5rem;
}
