.gl-container {
  padding-top: 2rem;
}

.gl-list-container {
  width: 90%;
  margin-top: 2rem;
}

.gl-list-item-text {
  text-align: center;
  text-transform: capitalize;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

p.loading .loadding-icon{
  font-size: 2rem;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
