.landing-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/image/landing-img.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  text-align: center;
}


.landing-title {
  color: #dddddd;
  padding-top: 10rem;
  letter-spacing: 1px;
  margin-bottom: 5rem;
}
